*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#f5f5f5;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  padding:20px;
  overflow-x:hidden;
  font-family:Arial, Helvetica, sans-serif;
}

/* CONTENEDOR */
.invitacion{
  position:relative;
  width:100%;
  max-width:500px;
}

/* IMAGEN */
.invitacion img{
  width:100%;
  height:auto;
  display:block;
  border-radius:20px;
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

/* MAPA */
.mapa{
  position:absolute;

  top:52%;
  left:69%;

  width:42%;
  height:12%;

  transform:translate(-50%, -50%);

  background:transparent;
  cursor:pointer;
}

/* WHATSAPP */
.whatsapp{
  position:absolute;

  /* AJUSTADO A LO MARCADO */
  top:67%;
  left:52%;

  width:46%;
  height:9%;

  transform:translate(-50%, -50%);

  background:transparent;
  cursor:pointer;
}

/* TABLETS */
@media screen and (max-width:768px){

  .invitacion{
    max-width:430px;
  }

}

/* CELULARES */
@media screen and (max-width:480px){

  body{
    padding:10px;
  }

  .invitacion{
    max-width:100%;
  }

}

/* CELULARES PEQUEÑOS */
@media screen and (max-width:360px){

  .mapa{
    width:44%;
    height:13%;
  }

  .whatsapp{
    width:48%;
    height:10%;
  }

}